<div class="card">
    <div class="card-divider">
      <span class="clearfix">
        <!-->TODO: Refactor this title name once multiple items graphed</!-->
        <h4>User Clicks for {{this.currentMenuItem ? this.currentMenuItem.name : ""}}</h4>
      </span>
    </div>
    <div class="card-section">
      <div class="grid-x grid-margin-x">
        <div class="cell large-2" style="overflow-y:scroll">
          <form (ngSubmit)="$event.preventDefault();" #selectMenuItemForm="ngForm">
            <button class="primary button" type="button" (click)="this.updateMetrics();">Update</button>
            <br>
            <span *ngFor="let menuItemMask of menuItemMasks; let i = index; trackBy:trackByIndex" class="clearfix">
              <span
                  style="display:inline; padding: 0 10px 0 20px"
                  class="float-left">
                <input
                  type="checkbox"
                  id="menuItemMask{{i}}"
                  name="menuItemMask{{i}}"
                  value="{{menuItemMasks[i]}}"
                  [(ngModel)]="menuItemMasks[i]"
                  />
              </span>
              <label for="menuItemMask{{i}}" class="float-left">{{this.menuItems[i].name}}</label>
            </span>
          </form>
        </div>
        <div class="cell auto">
            <canvas id="myCanvas" #myCanvas>{{ chart }}</canvas>
        </div>
      </div>
    </div>
</div>
