#login {
    width: 500px;
    display: inline-block;
    margin-top: 150px;
}

h2 {
  color: black;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.button {
  background-color: grey;
}
