#login {
    width: 500px;
    display: inline-block;
    margin-top: 200px;
}
div.callout {
  background-color: transparent;
  border-color: transparent;
}

h1 {
  font-size: 64px;
  color: white;
  font-family: "Trebuchet MS";
}

.button {
  background-color: grey;
}
