<div class="callout" id="login">
  <h1>
    MenuFi
  </h1>
  <form (ngSubmit)="true">
    <label class="text-left">Username
      <input
        type="text"
        placeholder="user@domain.com"
        [(ngModel)]="usernameInput"
        name="usernameField"
        required
        />
    </label>

    <label class="text-left">Password
      <input
        type="password"
        placeholder="password"
        [(ngModel)]="passwordInput"
        name="passwordField"
        required
        >
    </label>

    <button class="button expanded" type="submit" (click)="login();">Login</button>
    <span [hidden]="!this.showRegister">
    <button class="button expanded" (click)="register();">Register</button>
    </span>
  </form>
</div>
