<div class="callout secondary" id="login">
  <h2>
    MenuFi
  </h2>
  <form (ngSubmit)="login();">
    <label class="text-left">Username
      <input
        type="text"
        placeholder="user@domain.com"
        [(ngModel)]="usernameInput"
        name="usernameField"
        required
        />
    </label>

    <label class="text-left">Password
      <input
        type="password"
        placeholder="password"
        [(ngModel)]="passwordInput"
        name="passwordField"
        required
        >
    </label>

    <button class="button primary expanded" type="submit">Login</button>
    <span [hidden]="!this.showRegister">
      <button class="button primary expanded" type="button" (click)="register();">Register</button>
    </span>
    <span [hidden]="!this.showMessage">
      <i [hidden]="!this.isError" class="fa fa-exclamation-triangle" aria-hidden="true"></i>
      <i [hidden]="this.isError" class="fa fa-check-circle" aria-hidden="true"></i>
      {{this.message}}
    </span>
    <span [hidden]="!this.isLoading || this.showMessage">
      <i class="fa fa-spinner fa-pulse fa-fw"></i>
      Loading...
    </span>
  </form>
</div>
