div.back {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  min-height: 1080px;
  background: white;
}

div.primaryCallout {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  background-color: #335170;
}

.menu-text {
  color: white !important;
}

.menu a:link, a:visited {
  color: #e5e5e5;
}

.menu a:hover {
  color: #1879db;
}

.menu a:active {
  color: white;
}