
<div class="primaryCallout">
  <div class="menuHeader">
    <ul class="menu">
      <li class="menu-text">MenuFi</li>
      <li><a routerLink="/login" routerLinkActive="active text-center">Login</a></li>
      <li><a routerLink="/menu" routerLinkActive="active text-center">Menu</a></li>
      <li><a routerLink="/metrics" routerLinkActive="active text-center">Metric</a></li>
    </ul>
  </div>
  <div class="back">
    <div style="text-align:center;">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
