<div class="card">
  <div class="card-divider">
    <span class="clearfix">
      <h4>{{this.menuItemModel.name}}</h4>
      <button class="button secondary float-right" disabled>Edit</button>
    </span>
  </div>
  <div class="card-section">
    <div>
      <img src="assets/placeholder_square.png" alt="{{this.menuItemModel.name}}" width=150px/>
      <div class="inline">
        <ul>
          <li>{{this.menuItemModel.price | currency:'USD'}}</li>
          <li>{{this.menuItemModel.calories}} Calories</li>
          <li>{{this.menuItemModel.description}}</li>
        </ul>
      </div>
    </div>
    <div class="csv">
      <b>Ingredients:</b>
      <span *ngFor="let ingredient of this.menuItemModel.ingredients; let ingredientIndex = index">
        {{ingredient}}<span [hidden]="ingredientIndex == this.menuItemModel.ingredients.length - 1">,&nbsp;</span>
      </span>
    </div>
    <div class="csv">
      <b>Preferences:</b>
      <span *ngFor="let preference of this.dietaryPreferences; let preferenceIndex = index">
        {{preference.name}}<span [hidden]="preferenceIndex == this.dietaryPreferences.length - 1">,&nbsp;</span>
      </span>
    </div>
    <div class="csv">
      <b>Restrictions:</b>
      <span *ngFor="let restriction of this.dietaryRestrictions; let restrictionIndex = index">
        {{restriction.name}}<span [hidden]="restrictionIndex == this.dietaryRestrictions.length - 1">,&nbsp;</span>
      </span>
    </div>
  </div>
</div>